body {
  font-family: "Times New Roman", Times, serif;
}

h3 {
  margin: unset;
}

p {
  font-size: 15pt;
  margin: unset;
}

.controls {
  display: flex;
  align-items: center;
}

.controls__form {
  margin-left: 5px;
}
